/* styles.css */

/* Style for Button 1 */
#button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 150px;
}

/* Style for Button 2 */
#button2 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 150px;
}

/* Style for Button 3 */
#button3 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

/* Style for Button 4 */
#button4 {
    background-color: #555555; /* Gray */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 100px;
}
.overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1;
    font-size: 20px;
    font-weight: 800;

}
/* Your existing styles */

#explanation {
    font-size: 18px;
}

#explanation strong {
    color: green; 
}

/* For screens smaller than 600px */
@media screen and (min-width: 500px) {
    #button1 {
        top: 30%; /* Adjust as needed */
        left: 100px; /* Adjust as needed */
    }
    #button2 {
        top: 250px; /* Adjust as needed */
        top: 30%; /* Adjust as needed */
    }
    #button3 {
        bottom: 23%;
        left: 50px; 
    }
    #button4 {
        bottom: 23%;
        right: 50px;
    }
    #canvas { max-width: 80vw; max-height: 50vh; }

}


